In [1]:
import json
import csv
import pandas as pd

In [2]:
tweets_democrats_house_file = '../data_collection/tweets_democrats_house.txt'
tweets_republicans_house_file = '../data_collection/tweets_republicans_house.txt'

In [3]:
tweets_democrats = []
with open(tweets_democrats_house_file) as f:
    for line in f:
        tweets_democrats.append(json.loads(line))

tweets_republicans = []
with open(tweets_republicans_house_file) as f:
    for line in f:
        tweets_republicans.append(json.loads(line))
        
print(tweets_democrats[0])

{'account': 'RepDarrenSoto', 'hashtags': ['DQAwards'], 'urls': [], 'mentions': ['StephSmithFL', 'DanP_ATT']}

In [4]:
democrats_accounts = dict()
for tweet in tweets_democrats:
    mentions = ''
    for mention in tweet['mentions']:
        mentions += ' ' + mention.lower()
    if tweet['account'] in democrats_accounts:
        democrats_accounts[tweet['account']] += mentions
    else:
        democrats_accounts[tweet['account']] = mentions
print(len(democrats_accounts), 'democrat accounts')    
    
republicans_accounts = dict()
for tweet in tweets_republicans:
    mentions = ''
    for mention in tweet['mentions']:
        mentions += ' ' + mention.lower()
    if tweet['account'] in republicans_accounts:
        republicans_accounts[tweet['account']] += mentions
    else:
        republicans_accounts[tweet['account']] = mentions
print(len(republicans_accounts), 'republican accounts')

167 democrat accounts
171 republican accounts

In [13]:
sample_data = []

for key, value in democrats_accounts.items():
    sample_data.append(['0', value[1:]])
    
for key, value in republicans_accounts.items():
    sample_data.append(['1', value[1:]])

In [14]:
my_df = pd.DataFrame(sample_data)
my_df.to_csv('../data_collection/mentions_data.csv', index=False, header=['label', 'mentions'])

In [15]:
my_df.head()

   0                                                  1
0  0  wreathsacross vereynn wreathsacross mdw_usarmy...
1  0  univisionnews jessweisswrites jorgeramosnews j...
2  0  nbcnews nbcnews dccultura suzgamboa nbcnews nb...
3  0  aarpny senschumer martinheinrich fcc ajitpaifc...
4  0  epa repannaeshoo sengillibrand fcc martinheinr...

In [16]:
tweets_republicans_support_file = '../data_collection/tweets_republican_support.txt' 
tweets_democrats_support_file = '../data_collection/tweets_democrat_support.txt'

In [17]:
tweets_republicans = []
with open(tweets_republicans_support_file) as f:
    for line in f:
        tweets_republicans.append(json.loads(line))

tweets_democrats = []
with open(tweets_democrats_support_file) as f:
    for line in f:
        tweets_democrats.append(json.loads(line))

In [18]:
republicans_accounts = dict()
for tweet in tweets_republicans:
    mentions = ''
    for mention in tweet['mentions']:
        mentions += ' ' + mention.lower()
    if tweet['account'] in republicans_accounts:
        republicans_accounts[tweet['account']] += mentions
    else:
        republicans_accounts[tweet['account']] = mentions
print(len(republicans_accounts), 'republican accounts') 

democrats_accounts = dict()
for tweet in tweets_democrats:
    mentions = ''
    for mention in tweet['mentions']:
        mentions += ' ' + mention.lower()
    if tweet['account'] in democrats_accounts:
        democrats_accounts[tweet['account']] += mentions
    else:
        democrats_accounts[tweet['account']] = mentions
print(len(democrats_accounts), 'democrat accounts')

47 republican accounts
40 democrat accounts

In [19]:
test_data = []
    
for key, value in republicans_accounts.items():
    test_data.append(['1', value[1:]])
    
for key, value in democrats_accounts.items():
    test_data.append(['0', value[1:]])

In [21]:
my_df = pd.DataFrame(test_data)

my_df.to_csv('../data_collection/mentions_test_data.csv', index=False, header=['label', 'mentions'])

In [23]:
my_df.head()

   0                                                  1
0  1  alex_svn alex_svn ljean mediabuzzfnc mediabuzz...
1  1  klark50cent paulsperry_ comey paulsperry_ paul...
2  1  foxfriendsfirst foxandfriends ferdinandmovie 2...
3  1  iowahawkblog politico leesmithdc kimstrassel a...
4  1  pjwarner staring_crocs simonline7 emperorwagyu...